:root {
    --white:#fff;
    --black:#000;
    --green:#89ba16;
    --orang : #fff568;
    --footerColor :#555555;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    height: 200vh;
}